* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(224, 224, 224);
}

.ul-limpa {
    list-style-type: none;
}

.a-limpo {
    text-decoration: none;
    color: black;
}

.input-limpo {
    border: none;
}

.input-limpo:focus {
    outline: 0;
}

.a-decorado {
    display: flex;
    align-items: center;
    font-size: .9em;
    height: 30px;
    background-color: rgb(190, 190, 190);
    color: black;
    border-radius: 6px;
    padding: 0 6px;
    text-decoration: none;
}

.a-decorado:hover {
    opacity: .8;
}

#container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#header-container {
    width: 100%;
    height: 100px;
    display: flex;
    background-image: linear-gradient(to bottom, blue, rgb(2, 194, 194));
}

#header-container header {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

#barra-de-pesquisa {
    width: 53%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border-radius: 6px;
}

#barra-de-pesquisa input {
    flex-grow: 1;
    margin-left: 8px;
    font-size: .9em;
}

#barra-de-pesquisa button {
    width: 60px;
    height: 30px;
    border-radius: 6px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}

#barra-de-pesquisa button:hover {
    opacity: .8;
}

#barra-de-pesquisa button:active {
    background-color: gray;
}

#main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px auto 0 auto;
}

#menu-lateral {
    display: flex;
    width: 20%;
}

#menu-lateral ul {
    display: flex;
    gap: 10px;
}

#menu-lateral ul li {
    display: flex;
    margin-top: 5px;
}

#menu-lateral ul li input, label {
    margin-right: 2px;
    cursor: pointer;
}

#form-cadastro-produto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#form-cadastro-produto input, button {
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

#form-cadastro-produto h1 {
    text-align: center;
}

#form-cadastro-produto select {
    width: 90%;
}

#lista-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
    flex-grow: 1;
    gap: 10px;
    width: 75%;
    height: fit-content;
}

#detalhes {
    display: flex;
    box-sizing: border-box;
    width: 90%;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin: 5px auto 0 auto;
}

#detalhes .img-detalhe {
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    padding: 1px;
}

.card:hover {
    border: 1px solid gray;
    padding: 0;
}

.card div {
    width: 90%;
    margin-bottom: 5px;
    margin-left: 10px;
}

.card img{
    width: 90%;
    max-height: 150px;
    padding: 10px;
}

@media screen and (min-width: 100px) {
    #header-container header {
        width: 90%;
    }

    #main {
        width: 90%;
        gap: 5px;
    }

    #header-container header h1 {
        
        order: 1;
    }

    #header-container header a {
        order: 2;
    }

    #header-container header #barra-de-pesquisa {
        width: 100%;
        order: 3;
    }
    
    #menu-lateral {
        flex-wrap: wrap;
        width: 100%;
    }

    #menu-lateral h4 {
        width: 100%;
    }

    #menu-lateral ul {
        flex-flow: row wrap;
    }

    .card {
        width: 48%;
    }
}

@media screen and (min-width: 600px) {
    #header-container #logo {
        order: 1;
    }

    #header-container header a {
        order: 3;
    }

    #header-container header #barra-de-pesquisa {
        order: 2;
        width: 46%;
    }

    .card {
        width: 31.6%;
    }
}

@media screen and (min-width: 800px) {
    #menu-lateral {
        width: 18%;
        flex-flow: column nowrap;
    }

    #menu-lateral ul {
        flex-flow: column wrap;
        gap: 0;
    }

    #lista-produtos {
        width: 70%;
    }

    .card {
        width: 23.3%;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        width: 18.8%;
    }
}